body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fixed_header table {
  display: block;
  overflow: auto;
  width: 100%;
  align-self: center;
}

.pad {
  padding: 5em;
}

#section3 {
  padding-bottom: 30px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #eef1fc;
}

th {
  background-color: #6f8ae4;
  color: white;
}

tr:hover {
  background-color: #ddd;
}

button {
  background-color: #6f8ae4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.mt {
  margin-top: 25px;
}
